/* FONTS */
    /* roboto-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/roboto-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
    /* roboto-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/roboto-v30-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
    /* roboto-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/roboto-v30-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
    /* roboto-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('./fonts/roboto-v30-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
/* --------------------------------- */

/* ANIMATIONS */

@keyframes highlight {
    0% {
        color: #fff;
    }
    50% {
        color: red;
        font-size: 1.1em;
    }
    100% {
        color: #fff;
    }
}

@keyframes jump {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
        stroke: #fff;
    }
    100% {
        transform: scale(1);
    }
}

@keyframes gray-out {
    0% {
        
    }
    50% {
        stroke: #fff;
        transform: scale(1.1);
    }
    100% {
    }
}
/* --------------------------------------------- */

body {
    background-color: #131313;
    font-family: Roboto, sans-serif;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 35px;
    grid-template-areas: 'buttons board-container .'
                         'footer footer footer';
}


/* BOARD CSS */
.board-container {
    margin: 50px;
    padding: 50px;
    height: fit-content;

    background-color: #C06C84;
    border: 2px rgb(255, 255, 255) solid;

    grid-area: board-container;
    align-self: center;
    display: grid;
    place-content: center;
    gap: 20px;
    grid-template-rows: 100px 500px;
    grid-template-areas: 'title' 'board';
}   


.header {
    grid-area: title;
    place-self: start center;

    color: #fff;
    padding: 10px;
    font-size: 2em;
    background-color: #000;
    border: 2px solid #fff;
}
.header span:nth-of-type(2) {
    margin: 0 20px;
}


.board {
    width: 500px;
    height: 500px;
    border-radius: 5px;

    grid-area: board;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

.square {
    border: 3px solid #fff;
    background-color: #355C7D;

    display: grid;
    place-items: center;
}

.playerX {
    stroke: yellow;
}
.playerO {
    stroke: #FF6103;
}

/* -------------------------- */

/* LEFT SIDE CSS */

.buttons {
    grid-area: buttons;
    
    display: flex;
    justify-content: end;
    align-items: center;
}
.reset-button {
    width: 150px;
    height: 50px;
    background-color: #C06C84;
    border: 3px solid #fff;

    color: #fff;
    font-weight: 700;
    font-size: 1.2em;

}
.reset-button:hover {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.6);
}
.reset-button:active {
    transform: scale(1.2);
}

/* -------------------------- */

.footer {
    grid-area: footer;
    display: grid;
    place-content: center;

    background-color: #000;
    color: #fff;

    font-weight: 500    ;
}
.footer a {
    text-decoration: none;

}
a:hover {
    text-decoration: underline #00ccff;
    color: #08a6ce;
}